<nav class="background-color3">
    <div class="nav-wrapper">
        <a href="#/" class="brand-logo navbar-home">
            <img src="images/patita-de-perro.png" class="circle">
            Mascota pet
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#/users">Dueño</a></li>
            <li><a href="#/animals">Mascotas</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <a href="#/" class="center">
                <img src="images/patita-de-perro.png" class="responsive-img img-50">
            </a>
            <li><a href="#/users">Dueño</a></li>
            <li><a href="#/animals">Mascotas</a></li>
        </ul>
    </div>
</nav>